{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset="UTF-8">
<meta http-equiv='X-UA-Compatible' content= 'chrome=1'>
<meta name ='viewport' content='width=device-width,initial-scale=1.0'>
<link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet" >
<link href="{% static 'bs/css/custom.css' %}" rel="stylesheet" >
<link href="{% static 'icons/bootstrap-icons.css' %}" rel="stylesheet" >
<script src="{% static 'bs/js/bootstrap.min.js' %}"></script>
<title> {% block title %} Default title {% endblock title %} </title>
</head>

<body class="d-flex flex-column h-100">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">BSHOP</a><br>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/catalog">Catalog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/refs/rb/">Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/refs/rb-genre/">Genres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/refs/rb-Publishing/">Publishing</a>
            </li>

            {% if perms.prod_card.delete_books%}
            <li class="nav-item">
              <a class="nav-link active" href="/admin/">Administration portal</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'carts:cart_edit' %}">Order</a>
            </li>
          </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link"  href="https://www.nbrb.by/statistics/rates/ratesdaily.asp">2.5 USD/BYN</a>
              </li>
            </ul>

            <form action="{% url 'search_results' %}" method="get" class="d-flex" role="search">
              <input name="q" type="text" class="form-control me-2" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-info me-4" type="submit">
            <i class="bi bi-search">
            </i>
          </button>
            </form>


          <li style="list-style-type: none">
          {% if user.is_authenticated %}
    <span class="navbar-text mr-2">{{ user }}</span>
    <a href="/logout" class="btn btn-outline-light"><i class="bi bi-box-arrow-right"></i></a>
  {% else %}
    <a href="{% url 'home_page:login' %}" class="btn btn-outline-light">Log in</a></a>
    <a href="{% url 'home_page:register' %}" class="btn btn-outline-light">Sign up</a>
  {% endif %}

          </li>
        </div>
      </div>
    </nav>
  </header>


  <main class="flex-shrink-0">
    <div class="container">
     {% block content %}
     No content
     {% endblock content %}
    </div>
  </main>
      <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
          <span class="text-muted">{% block footer %}{% endblock footer %}</span>
        </div>
  </footer>
<script src={% static "bs/js/bootstrap.bundle.min.js" %}> </script>
      </body>

  </html>










