{% extends "base.html" %}

{% block title %}
Product card view
{% endblock title %}

{% block content %}
<div class="shadow p-3 mb-5 bg-body rounded">
<div class="text-center">
    <h1><span style="color: rgb(0, 77, 128);">Product card created.</span></h1>
</div>
</div>
    Card name: <b>"{{ object.name }}"</b><br>
    <br>
    <td><a href="{% url 'prod_card:prod_card_create' %}" class="btn btn-outline-success mb-3">Create product card</a></td>
    <br>
    <td><a href="{% url 'prod_card:prod_card_list' %}" class="btn btn-outline-success mb-3">Show the list of product cards</a></td>
{% endblock content %}