{% extends "base.html" %}

{% block content %} 

{% load crispy_forms_tags %}         


<div class="container py-5">
	<h1>Login</h1>
	<form method="POST">
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
		{% csrf_token %}
		{{ login_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Log in</button>
	</form>
	<p class="text-center">Are you still not registered? <a href="/register">Sign up</a> now.</p>
</div>

{% endblock %}